<!-- <app-stepper-tests></app-stepper-tests> -->
<!-- <nav>
    <a routerLink="/home" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">home</a>
    <a [routerLink]="['about']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">About</a>
    <a [routerLink]="['book/bookdetai']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Book</a>
    <a [routerLink]="['login']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Login</a>
    <a [routerLink]="['users']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Users</a>
</nav> -->
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <button color="primary" mat-button routerLink="/customers" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Customers</button>
        <button color="primary" mat-button routerLink="/orders" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Orders</button>
        <button color="primary" mat-button routerLink="/messages" routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}">Massages</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Title</span>
                <span class="spacer"></span>
                <mat-icon>favorite</mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>publish</mat-icon>
                        <samp>Share</samp>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>mode_content</mat-icon>
                        <samp>Content</samp>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <samp>Delete</samp>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>


        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<!-- <router-outlet></router-outlet> -->